<% if !@user.nil? %>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <% @user.posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p>
    <%= post.content %>
    </p>

  <% end %>
  <%= link_to 'Back', users_path %> | 
  <%= link_to "Log out", logout_path, method: :delete %>
<% else %>
  <p> Usuário não encontrado </p>
<% end %>