<!DOCTYPE html>
<html>
  <head>
    <title>Inbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
    <%= link_to "Sair", logout_path, method: :delete %>
    <% end %>
    <%= yield %>
  </body>
</html>
